body {
  padding-top: 40px;
  background-color: #f5f5f5;
}
.flat .plan {
  border-radius: 6px;
  list-style: none;
  padding: 0 0 20px;
  margin: 0 0 15px;
  background: #fff;
  text-align: center;
}
.flat .plan li {
  padding: 10px 15px;
  color: #333;
  border-top: 1px solid #f5f5f5;
  -webkit-transition: 300ms;
  transition: 300ms;
}
.flat .plan li.plan-price {
  border-top: 0;
}
.flat .plan li.plan-name {
  border-radius: 6px 6px 0 0;
  padding: 15px;
  font-size: 24px;
  line-height: 24px;
  color: #fff;
  background: #e74c3c;
  margin-bottom: 30px;
  border-top: 0;
}
.flat .plan li > strong {
  color: #e74c3c;
}
.flat .plan li.plan-action {
  margin-top: 10px;
  border-top: 0;
}
.flat .plan.featured {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
.flat .plan.featured li.plan-name {
  background: #000;
}
.flat .plan.featured:hover li.plan-name {
  background: #c0392b;
}
.flat .plan:hover li.plan-name {
  background: #000;
}
#footer {
  margin-top: 100px;
  padding-bottom: 30px;
}


/* BOUTON DES THEMES */
.themeButton {
  font-family: arial;
  color: #FFFFFF !important;
  font-size: 18px;
  box-shadow: 1px 1px 1px #BEE2F9;
  padding: 13px 40px;
  -moz-border-radius: 24px;
  -webkit-border-radius: 24px;
  border-radius: 24px;
  background: #E7933E;
}
.themeButton:hover {
  color: #FFFFFF !important;
  background: #2B2F3A;
}


/*ROUND BUTTON */
.Ajout-round-button {
    display:block;
    width:35px;
    height:35px;
    line-height:35px;
    border: 1px solid #f5f5f5;
    border-radius: 50%;
    color:#f5f5f5;
    text-align:center;
    text-decoration:none;
    background: rgba(63, 159, 64, 0.95);
    box-shadow: 0 0 3px gray;
    font-size:20px;
    font-weight:bold;
    margin-left: auto;
    margin-right: auto;
}
.Ajout-round-button:hover {
    background: #262626;
    cursor:pointer
}

.Delete-round-button {
    display:block;
    width:35px;
    height:35px;
    line-height:35px;
    border: 1px solid #f5f5f5;
    border-radius: 50%;
    color:#f5f5f5;
    text-align:center;
    text-decoration:none;
    background: rgba(233, 57, 36, 0.9);
    box-shadow: 0 0 3px gray;
    font-size:20px;
    font-weight:bold;
    margin-left: auto;
    margin-right: auto;
}
.Delete-round-button:hover {
    background: #262626;
    cursor:pointer
}



/* Formulaire PopUp */
.formulairePopup#abc {
width:100%;
height:100%;
opacity:.95;
top:0;
left:0;
display:none;
position:fixed;
background-color:#313131;
overflow:auto
}
.formulairePopup img#close {
position:absolute;
right:-14px;
top:-14px;
cursor:pointer
}
.formulairePopup div#popupContact {
position:absolute;
left:50%;
top:17%;
margin-left:-202px;
font-family:'Raleway',sans-serif
}
.formulairePopup form {
max-width:300px;
min-width:250px;
padding:10px 50px;
border:2px solid gray;
border-radius:10px;
font-family:raleway;
background-color:#fff
}
.formulairePopup p {
margin-top:30px
}
.formulairePopup h2 {
background-color:#FEFFED;
padding:20px 35px;
margin:-10px -50px;
text-align:center;
border-radius:10px 10px 0 0
}
.formulairePopup hr {
margin:10px -50px;
border:0;
border-top:1px solid #ccc
}
.formulairePopup input[type=text] {
width:82%;
padding:10px;
margin-top:30px;
border:1px solid #ccc;
padding-left:40px;
font-size:16px;
font-family:raleway
}
.formulairePopup#name {
background-image:url(../images/name.jpg);
background-repeat:no-repeat;
background-position:5px 7px
}
.formulairePopup#email {
background-image:url(../images/email.png);
background-repeat:no-repeat;
background-position:5px 7px
}
.formulairePopup textarea  {
background-image:url(../images/msg.png);
background-repeat:no-repeat;
background-position:5px 7px;
width:82%;
height:95px;
padding:10px;
resize:none;
margin-top:30px;
border:1px solid #ccc;
padding-left:40px;
font-size:16px;
font-family:raleway;
margin-bottom:30px
}
.formulairePopup#submit {
text-decoration:none;
width:100%;
text-align:center;
display:block;
background-color:#FFBC00;
color:#fff;
border:1px solid #FFCB00;
padding:10px 0;
font-size:20px;
cursor:pointer;
border-radius:5px
}
.formulairePopup span  {
color:red;
font-weight:700
}
button.formulairePopup {
width:10%;
height:45px;
border-radius:3px;
background-color:#cd853f;
color:#fff;
font-family:'Raleway',sans-serif;
font-size:18px;
cursor:pointer
}








